@media (min-width: 1200px) {
    .setPassword .container {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}

.setPassword .container {
    max-width: 900px !important;
    box-shadow: 4px 9px 25px rgba(29, 29, 29, 0.2);
    border-radius: 12px;
    background-color: #ffffff;
}

.setPassword .line {
    height: 1px;
    background: linear-gradient(90deg, rgba(150, 150, 150, 0.4) 3.02%, #969696 55.98%, rgba(150, 150, 150, 0.4) 103.02%);

}
.setPassword .title {
    color: #08A8E4;
    font-weight: 700;
    font-size: 26px;

}
.setPassword .line +div{
    font-weight: 300;
    font-size: 18px;
    color: #969696;
}
.setPassword input {
    border-radius: 12px;
    padding: 6px;
    background-color: #ffffff;
    opacity: 1;
}
.setPassword input:focus {
    outline: none !important;
}
.setPassword label {
    color: #969696;
}

.setPassword .invalid{
    border: 1.5px solid #FD7272;
}
.setPassword .valid{
    border: 1.5px solid #000000;
}
.setPassword .default{
    border: 1.5px solid #B0B0B0;
}
.setPassword .completing{

    border: 1.5px solid #08A8E4!important;
}
.setPassword .validBtn {
    background-color: #08A8E4;
}
.setPassword .grayButton{
    padding: 18px 40px;
    border: none;
    background-color: #969696;
    border-radius: 8px;
    color: #FFFFFF;
    /*font-weight: 700;*/
    /*font-size: 18px;*/
}
.setPassword .blueButton{
    padding: 18px 40px;
    border: 1.5px solid #08A8E4 ;
    background-color: #FFFFFF;
    border-radius: 8px;
    color: #08A8E4;
    margin-left: 20px;
    width: auto;
    height: auto;
    /*font-weight: 700;*/
    /*font-size: 18px;*/
}
.setPassword input + div{
    color: #FD7272 !important;
    font-size: 12px;
}