.navBar {
    height: 40px;
    background: rgba(29, 29, 29, 0.7);
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar_brand img {
    width: 100%;
}

.navbar_brand {
    padding: 5px;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    z-index: 998;
}

.navBar a, .navBar a:hover, .navBar a:focus, .navBar a:active {
    text-decoration: none;
    color: inherit;
}

.navBar ul {
    padding: 0 !important;
}

.navBarMenu {
    background-color: #FFFFFF;
    color: #636363;
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    z-index: 1000;
}

.nav-menu-items {
    list-style-type: none;
    font-size: 18px;

}

.nav-menu-items .sidebarItems:hover {
    background-color: #F0FBFF;

}

.navBar .sidebarItems {
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 20px 8px 8px;
}

.navBar .menu-bars img {
    width: 30px;
    margin-right: 1.5rem;
    color: #FFFFFF;
}

.navBar .menu-bars:hover {
    color: #08A8E4;
}

.navBar .menu-bars:hover, .navBar .menu-bars:focus {
    color: #08A8E4;
}

.navBarMenu.active {
    right: 0;
    transition: 350ms;

}

.sidebarItems {
    height: 40px;

}

.navBar .nav-menu-items .nave-icon {
    fill: #08A8E4;
    font-size: 15px;
    margin-left: 10px;
    color: #08A8E4;
}

.navBar .sidebarImg img {
    text-anchor: start;
    width: 50px;
    color: #636363;
    margin: 0 auto;
}

.navBar .sidebarImg .col-12 {
    padding-right: 0 !important;
}

.exitIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
}

.navBar .info {
    font-size: 16px;
    color: #7D7D7D;
    text-align: center;
}

.dark {
    position: fixed;
    width: 100%;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 850ms;
    z-index: 999;
}

@media (min-width: 868px) {
    .navBar {
        height: 50px;
        border-radius: 0 0 20px 20px;
    }

    .navBar .navBarItems li {

        visibility: visible;
        font-size: 16px;
        color: #ffffff;
    }

    .navBar .navbar_brand {
        padding: 7px;
        width: 90px;
        height: 90px;
        border-radius: 0 0 13px 13px;
    }
    .navBar .sidebarItems {
        font-size: 16px;
        height: 45px;
    }

    .nav-menu-items img {
        font-size: 20px;
    }

    .navBar .info {
        font-size: 16px;
    }
    .navBar .sidebarImg img {
        width:60px;
    }

}

@media (min-width: 992px) {
    .navBar {
        height: 60px;
        border-radius: 0 0 25px 25px;
    }

    .navBar .navBarItems li {
        font-weight: 700;
        font-size: 18px;
        line-height: 76px;
    }

    .navBar .navbar_brand {
        padding: 5px;
        width: 90px;
        height: 90px;
        border-radius: 0 0 18px 18px;
    }

    .navBar .menu-bars img {
        width: 40px;
        margin-right: 1.5rem;
    }

    .navBar .sidebarItems {
        font-size: 18px;
        height: 50px;
    }

    .nav-menu-items img {
        font-size: 25px;
    }

    .navBar .sidebarImg img {
        width: 70px;
    }

    .navBar .info {
        font-size: 18px;
    }
}