.dropDown textarea:hover  {
    color: #08A8E4;
    cursor: context-menu;
    background-color: inherit !important;
}

.dropDown .dropdownMenu > div {
    overflow-y: scroll;
    height: 211px;
    margin: 0 auto;
}

.dropDown .dropdownMenu {
    box-shadow: -3px 0px 11px rgba(0, 0, 0, 0.11), 3px 5px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: inherit;
    padding: 10px;
    bottom: -240px;
    right: 0px;
    background-color: #fff;
}

.dropDown ::-webkit-scrollbar {
    width: 17px;
    height: 44px;

}

.dropDown ::-webkit-scrollbar-thumb {
    background: #CACACA;
    border-radius: 8px;

}

.dropDown .dropdownTitle {
    border-radius: 12px;
    padding: 6px 6px 6px 16px;
    color: #969696;

}

.dropDown .dropdownTitle > img {
    left: 10px;
    top: 40%;
    width: 15px;
}

.dropDown .dropdownTitle:focus .dropdownTitle img {
    transform: rotate(180deg);
}

.dropDown .rotation {
    transform: rotate(180deg);
}
.dropDown .x textarea:nth-child(3){
    height: 56px!important;
}
.dropDown .dropdownItem {
    border: none;
    width: 100%;
    color: #969696;
    height: 35px;
    resize: none;
    overflow: hidden;

}
.dropDown .x textarea:focus{
    outline: none!important;
}
@media (min-width: 768px) {
    .dropDown .x textarea:nth-child(2),
    .dropDown .x textarea:nth-child(4),
    .dropDown .x textarea:nth-child(17),
    .dropDown .x textarea:nth-child(18),
    .dropDown .x textarea:nth-child(14){
        height: 56px!important;
    }
}

